.containerMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* background-color: #182625; */
    padding: 5px;
    /* box-shadow: 0 8px 10px 0  #1f2f2e8d; */
    backdrop-filter: blur( 13.5px );
    /* opacity: .8; */

}

.iconPresente{
    color: white;
    font-size: 40px;
}
.icone_site{
    width: 64px;
   
}
.lista_nav{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 20px;
}
.lista_nav a{
    text-decoration: none;
    color: white;
    
}
.lista_nav a:hover{
    border-bottom: 4px solid white;
}
ul{
    padding: 0px;
}