.containerMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* background-color: #182625; */
    padding: 5px;
    /* box-shadow: 0 8px 10px 0  #1f2f2e8d; */
    backdrop-filter: blur( 13.5px );
    /* opacity: .8; */

}


.lista_nav{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 20px;
}
.lista_nav a{
   
    color: white;
    
}
.lista_nav a:hover{
    border-bottom: 4px solid white;
}
.statusIcone{
    border-radius: 50%;
    border: 1px solid black;
    padding: 15px;
    
}
.statusIcone:hover{
    border-color: white;
}
.corRed{
    background-color: red;
}
.corGreen{
    background-color: green;
}
.corGray{
    background-color: gray;
}
ul{
    padding: 0px;
}
ul a{
    color: black;
}
a{
    text-decoration: none;
}